@import '../../styles/main'

.row
  height: 60px
  margin-left: 10px
  margin-right: 10px
  border-bottom: $base-border
  display: flex
  align-items: center

.row-item
  width: 200px
  padding-left: 12px
  color: $base-font-color
  font-size: $base-font-size
  border: none
  background-color: transparent
  &-active
    border: 1px solid #414144
    color: #71717A
    border-radius: 6px
    padding: 10px 0px 10px 10px
  &:focus
    outline: none
    
.input-wrapper
  width: 200px
  padding: 12px
