@import '../../styles/main'

.row
  height: 60px
  margin-left: 10px
  margin-right: 10px
  border-bottom: $base-border
  display: flex
  align-items: center

.row-item
  width: 200px
  padding-left: 12px
  &-active
    background-color: red
