@import '../../styles/main'

.row
  height: 60px
  margin-left: 10px
  margin-right: 10px
  border-bottom: $base-border
  display: flex
  align-items: center
  justify-content: space-between
  padding-right: 11px

.row-input
  width: 100%
  color: $base-font-color
  font-size: $base-font-size
  border: none
  background-color: transparent
  &-active
    border: 1px solid #414144
    color: #71717A
    border-radius: 6px
    padding: 10px 0px 10px 10px
  &:focus
    outline: none
    
.row-input-wrapper
  width: 100%
  padding: 12px

.row-inputs__left-part,
.row-inputs__right-part
  display: flex
  align-items: center
  gap: 12px

.row-inputs__left-part
  width: 100%
  margin-right: 12px

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
  -webkit-appearance: none
  margin: 0

/* Firefox */
input[type=number] 
  -moz-appearance: textfield

.row-icons-wrapper
  width: 122px

.row-buttons
  display: flex
  border-radius: 6px
  width: fit-content
  &:hover
    background-color: #414144
    .row-button-delete
      display: block


%row-button-base
  background-repeat: no-repeat
  background-position: center
  display: block
  width: 24px
  height: 24px
  background-color: transparent
  border: none
  color: inherit
  cursor: pointer

.row-button-add
  background-image: url('../../icons/icon-5.svg')
  @extend %row-button-base

.row-button-delete
  background-image: url('../../icons/icon-4.svg')
  display: none
  @extend %row-button-base

.row-icon
  background-image: url('../../icons/icon-5.svg')
  background-repeat: no-repeat
  background-position: center
  display: block
  width: 24px
  height: 24px
